In [13]:
#Multiplications tabel For-sats Uppgift 5 

number = int(input("Skriv siffran: "))



print("Tabelen av", number)
for i in range(1, 11):
   print(number,"X",i,"=",number * i)

Tabelen av 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [9]:
#For-satser basic

for i in range(1,101):
    print(i,end=" ") #end=" " betyder att det ska skrivas med en space vid slutet av varje tal

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [21]:
#For_satser uppgift 4

s = 0

for i in range(101):
    s += i

print(f"1+2+3+...+99+100 = {s}" ,end=" ")

1+2+3+...+99+100 = 5050

In [24]:
number = int(input("Skriv siffran: "))



print("Tabelen av", number)
for i in range(1, 11):
    for i in range(10):
   print(number)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)